{% extends "core/base.html" %}
{% load static %}

{% block content %}
  <section class="container mt-5 block titledesc">
    <div class="row">
      <div class="col-md-4" >
        <img src="{% static 'core\img\hotelq.png' %}" class="img-thumbnail btn-design2" style="height: 300px; margin-top: 20px"/>
        <p>Hotel Veranum</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-8">
        <h2>¿Quiénes somos?</h2>
        <p >
          En Hotel Veranum, somos un equipo dedicado a ofrecer la mejor experiencia en hospitalidad. Como parte de una prestigiosa cadena hotelera, nos esforzamos por combinar lujo y confort con un servicio personalizado de alta calidad. Cada uno de nosotros, desde la recepción hasta el servicio de limpieza, 
          trabajamos con pasión y dedicación para asegurarnos de que cada huésped se sienta como en casa.
        </p>
        <p >
          Nuestros hoteles están estratégicamente ubicados en diversas ciudades y están diseñados para satisfacer las necesidades tanto de viajeros de negocios como de placer. Contamos con instalaciones modernas y elegantes, que incluyen amplias habitaciones y suites, 
          opciones gastronómicas gourmet y completas instalaciones recreativas.
        </p>
        
        <p >
          En Hotel Veranum, nos enorgullece nuestro compromiso con la excelencia. Nos aseguramos de que cada detalle sea perfecto, desde la limpieza de las habitaciones hasta la atención personalizada que brindamos. Nuestro objetivo es hacer que cada estancia sea inolvidable y superar las expectativas de nuestros huéspedes.
        </p>
        <h3>Lo Que Ofrecemos</h3>

        <br><br>
      
    <p>
      En Hotel Veranum, ofrecemos una amplia gama de servicios y comodidades para asegurar que su estancia con nosotros sea excepcional:
    </p>

    <p>
      Habitaciones y Suites
      Habitaciones Modernas y Confortables: Equipadas con todas las comodidades necesarias para garantizar una estancia placentera.
      Suites de Lujo: Espacios amplios y elegantes diseñados para ofrecer el máximo confort y estilo.
    </p>

    <p>
      Gastronomía
      Restaurantes Gourmet: Disfrute de una experiencia culinaria única con platos preparados por chefs de renombre.
      Servicio de Habitaciones: Disponibilidad de deliciosas opciones gastronómicas entregadas directamente a su habitación.
    </p>

    <p>
      Bienestar y Recreación
      Spa y Centro de Bienestar: Relájese y rejuvenezca con una variedad de tratamientos y terapias.
      Piscina y Gimnasio: Manténgase activo y en forma durante su estancia con nuestras modernas instalaciones.
    </p>

    <p>
      Otros Servicios
      Wi-Fi Gratuito: Conexión a internet de alta velocidad en todas las áreas del hotel.
      Servicio de Conserjería: Asistencia personalizada para reservas, recomendaciones y cualquier otra necesidad que pueda tener.
      Transporte y Estacionamiento: Opciones de transporte y estacionamiento seguro para su comodidad.
    </p>

    <br><br>

    

    <div class="bienvenido">
      <p>
        En Hotel Veranum, nuestro objetivo es superar sus expectativas y hacer que su estancia sea inolvidable.
         Nos comprometemos a ofrecerle un servicio excepcional y comodidades de primera clase para que se sienta como en casa.
      </p>
    </div>
  </section>
{% endblock content %}